bin
build
*.pdf
*.aux
*.log
*.o
stress_test
looper
**/dat-*/
**/*-out-*/
**/results*/
*includes*
*libs*
*libmutlock.so
test2/test-*
*.toc
*.lof
**/doc/*.out
*.lol
**/src_deps
**/deps_src
**/tmp_scripts
/include/
